body{
    background: linear-gradient(45deg,#4ffa99,#4fffd9);
    font-size: 20px;
    font-weight: bold;
}

.btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}

.return-btn {
    padding: 8px 15px;
    border: none;
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 8px;
}

.container{
    width: 750px;
    margin: 50px auto;
}

.lbl{
    position: flex;
    line-height: 20px;
    padding: 10px;
}

.field{
    display:flex;
    margin-left: 20px;
    width:60%;
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
}

.button{
    width: 30%;
    padding: 8px;
    margin-left: 240px;
    font-size: 18px;
    font-weight: bold;

}