body{
    background: linear-gradient(45deg,#4ffa99,#4fffd9);
    font-size: 20px;
    font-weight: bold;
}

.container{
    width: 750px;
    margin: 100px auto;
}

.lbl{
    position: flex;
    line-height: 20px;
    padding: 10px;
}

.field{
    display:flex;
    margin-left: 20px;
    width:60%;
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
}

.button{
    width: 30%;
    padding: 8px;
    margin-left: 240px;
    font-size: 18px;
    font-weight: bold;

}