body{
    font-size: 18px;
    font-weight: bold;
    background: #99f2d6;
}

.btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}

.return-btn {
    padding: 8px 15px;
    border: none;
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 8px;
}

h1{
    position: relative;
    top: 20px;
}

.container{
    width: 550px;
    margin: 50px 420px;
    /* line-height: 150px; */
}

.button{
    border-radius: 7px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    background: linear-gradient(90deg,#6ac1c5,#bda5ff);
}