body{
    font-size: 18px;
    font-weight:500; 
    color: #fff;
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/pic7.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}

.row {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

.row .first-row {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.row .second-row {
    width: 50%;
    display: flex;
    align-items: center;
} 

.return-btn {
    padding: 8px 15px;
    border: none;
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 8px;
}

input{
    width: 300px;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 5px;
}

button{
    width:100px;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1E90FF;
}

table, td, th{
    border: 2px solid whitesmoke;
    text-align: center;
   min-width: 110px;
   padding: 5px;
   margin: auto 70px;
   
}

table{
    border-collapse: collapse;
    align-items: center;
}